body{
  background-color: rgb(41, 40, 40);
  color: white;
  font-family: Arial;
}

.title{
  font-weight: bold;
  font-size: 30px;
}

.btn-move{
  background-color: black;
  height: 150px;
  width: 150px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 50%;
}

.btn{
  border-radius: 50%;
  cursor: pointer;
}